:root {
  --backgrounds-colors: #4f6f52;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container .menu {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 50px;
}

.container .menu .menu-title {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}

.container .menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.container .menu-cards .card {
  display: grid;
  grid-template-rows: 125px 50px 25px;
  padding: 20px;
  background-color: var(--backgrounds-colors);
  border-radius: 20px;
}

.menu-cards .card .food-image {
  width: 150px;
  height: 100px;
  justify-self: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.menu-cards .card .food-name {
  text-align: center;
  color: #e8dfca;
  font-weight: bold;
  font-size: 20px;
}

.menu-cards .card .food-price {
  text-align: center;
  color: #e8dfca;
  font-weight: bold;
  font-size: 18px;
}

.container .categories {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 50px;
}

.container .categories .categories-title {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}

.categories .categories-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
  background-color: var(--backgrounds-colors);
  padding: 20px;
  border-radius: 20px;
}

.categories .categories-box .category {
  display: grid;
  height: 25px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: #e8dfca;
  border-radius: 10px;
  color: #1A4D2E;
}
