.container-about {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.container-about .picture {
  width: 400px;
  height: 800px;
  margin: 50px;
  border-radius: 30px;
}

.container-about .about-box {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.container-about .about-box .about-title {
  font-weight: bold;
  font-size: 30px;
  align-self: center;
}

.container-about .about-box .about-content {
  font-size: 20px;
}
